[Unit]
Description=Uxmal Int service v3 node.js app to listen great music
Documentation=UxmalStream.mx
After=network.target 

[Service]
User=root
ExecStart=bash /home/uslu/uxm_svcv2/mir_launchr.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target