[Unit]
Description=Uxmal Int service v3 node.js app to listen great music
Documentation=UxmalStream.mx
After=network.target 

[Service]
Type=simple
User=root
ExecStart=sudo screen -dm -S ropongi cd /home/uslu/Instalador-rasp-ucpnuevo/uxmal-rasp-module/dist/ && sudo NODE_ENV=production /home/uslu/.nvm/versions/node/v20.12.2/bin/node dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target